      <div class="navbar navbar-inverse navbar-extra">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="xl12 xs9 xm9 xb10 padding-large nav navbar-nav nav-big nav-inline nav-menu">                              <li></li>
			<li><a href="http://www.beyondfw.com">首页</a></li>
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/system.html">系统<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/linux.html">Linux</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/apache.html">Apache</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/nginx.html">Nginx</a>
                                <li><a href="/index.php?s=/home/article/lists/category/redis.html">Redis</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/memcached.html">Memcached</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/mongodb.html">Mongodb</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/mysql.html">Mysql</a></li>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="active">-->
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/algorithmBigData.html">算法大数据<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/hadoop.html">Hadoop</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/ML.html">Machine Learning</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/RL.html">RL Learing</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/Hive.html">Hive</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/db.html">cmu课程<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/SR.html">Speech Recognization</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/CV.html">Computer Vision</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/HWFC.html">How to Write Fast Code</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/ICC.html">Intrduction to Computer System</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/index.php?s=/home/article/lists/category/front.html">读书笔记<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/leetCode.html">leetCode</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/CorCPlusPlus.html">C/C++</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/Java.html">Java</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/Python.html">Python</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/argularjs.html">Matlab</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/argularjs.html">PHP</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/argularjs.html">Javascript</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/argularjs.html">HTML/CSS</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/argularjs.html">Shell</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/index.php?s=/home/article/lists/category/front.html">休闲<span class="arrow"></span></a>
                            <ul class="drop-menu">
                                <li><a href="/index.php?s=/home/article/lists/category/poem.html">唐诗宋词元曲</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/weeklyJournal.html">周记</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/history.html">历史</a></li>
                                <li><a href="/index.php?s=/home/article/lists/category/BeijingOpera.html">京剧</a></li>
                            </ul>
                        </li>

                    </ul>

            
            
          </div><!--/.navbar-collapse -->
        </div>
      </div>
